<%- include('layout/header'); %>

		<div class="main">

			<div class="container">				
				<div class="authentification__wrap">

					<% if (!user.id && !user.login) { %>

					<form method="post" class="authentification-form" autocomplete="on">

					<h2>Вход</h2>
						<input type="text" 		autocomplete="username"			id="login-login" 	name="login">
						<input type="password" 	autocomplete="current-password" id="login-password" name="password">
						
						<input type="submit" value="Вход" class="login__button">
					</form>

					<form method="post" class="registeration-form" autocomplete="on">
						<h2>Регистрация</h2>

						<input type="text" 	   autocomplete="username" 	   id="register-login" 				name="login">
						<input type="password" autocomplete="new-password" id="register-password" 			name="password">
						<input type="password" autocomplete="new-password" id="register-password-confirm" 	name="passwordConfirm">

						<input type="submit" value="Регистрация" class="register__button">
					</form>

					<% } else { %>
						
						<h5>Привет, <span><%= user.login %></span></h5>
						<a href="/api/auth/logout" class="item__btn-red">Выйти</a>

					<% } %>

					<div class="error-field"></div>
				</div>
			</div>
		</div>

		<script src="public/js/auth.js"></script>

<%- include('layout/footer'); %>
