<%- include('layout/header'); %>
	<div class="main">
		<div class="container">		

			<header class="header__wrap">
				<span class="header__status">Админ</span>
				<a href="/api/auth/logout" class="btn" id="leaveOut">Выйти</a>
			</header>

			

		</div>
	</div>

<%- include('layout/footer'); %>