<%- include('layout/header'); %>
	<div class="main">
		<div class="container">		

			<header class="header__wrap">
				
				<% if (user.authLvl == 0) { %>
				   <span class="header__status">Привет, Андрей</span>
				<% } else if (user.authLvl == 1) { %>
					<span class="header__status">Привет, Учитель</span>
				<% } else { %>
					<span class="header__status">Привет, Админ</span>
				<% } %>

				<a href="/api/auth/logout" class="btn" id="leaveOut">Выйти</a>
			</header>

		</div>
	</div>

<%- include('layout/footer'); %>