<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header class="header__wrap">
		<span class="header__status">Админ</span>
		<a href="/api/auth/logout" class="btn" id="leaveOut">Выйти</a>
	</header>
</body>
</html>